<html>
<head>
    <link rel="stylesheet" type="text/css" href="test.css" />
    <style>
    </style>
</head>
<body>
    <form action="/person_create/" method="post">
        <p>hej</p>
        <label for="firstName">Förnamn :</label>
        <input id="firstName" type= "text" name="first"><br>

        <label for="lastName">Efternamn :</label>
        <input id="lastName" type= "text" name="second"><br>

        <label for="birthday">Födelsedatum :</label>
        <input id="birthday"type= "date" name"third"><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>
